# Fixa a versão do lxml para compatibilidade com Odoo 16
lxml<5.0.0
# Dependencias da localização brasileira
brazilcep
brazilfiscalreport
email-validator
pyOpenSSL==22.1.0
erpbrasil-base>=2.4.2
erpbrasil.assinatura
erpbrasil.edoc
erpbrasil.transmissao
nfelib
nfselib.paulistana
num2words
phonenumbers
pyyaml
transitions
unidecode
workalendar
